body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--backgroundColor);
}

.light-theme {
  --backgroundColor: #d6d7da;
  --boxColor: #f6f6f8;
  --widgetColor: white;

  --secondaryColor: #c1c1c1;

  --mainText: black;
  --secondaryText: gray;
}

.dark-theme {
  --backgroundColor: black;
  --boxColor: #1e1f24;
  --widgetColor: #2e2e38;

  --secondaryColor: #c8e5e7;

  --mainText: white;
  --secondaryText: gray;
}

.main-container {
  background-color: var(--boxColor);
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--widgetColor);
  border-radius: 50px;
  overflow: hidden;
  margin: 100px 200px 100px 200px;
}

.left-column {
  flex-basis: 25%;
  background-color: var(--widgetColor);
  display: flex;
  justify-content: center;
}

.image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text-container {
  color: var(--mainText);
}

.label-container {
  display: flex;
  justify-content: center;
}

.right-column {
  flex: 75%;
  background-color: var(--boxColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-container {
  width: 100%;
  color: var(--mainText);
  padding-left: 80px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-top: 20px;
  width: 90%;
}

.search-container {
  width: 350px;
  display: flex;
  padding-right: 20px;
}

#search-input {
  background-color: var(--widgetColor);
  border: 1px solid var(--widgetColor);
  color: var(--mainText);
  width: 100%;
  padding: 15px 15px 15px 50px;
  font-size: 16px;
  border-radius: 25px;
}

.search-icon {
  position: absolute;
  padding: 15px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none;
}

#circle-container {
  display: inline-block;
  border-radius: 50%;
  background-color: #ccc;
  padding: 13px;
  margin-left: 15px;
}

i {
  font-size: 24px; /* Adjust the font size to make the icon bigger */
  color: gray;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 30px;
}

.info-widget {
  background-color: var(--widgetColor);
  text-align: left;
  border-radius: 20px;
  height: 200px;
  width: 250px;
  padding: 5px 25px;
  color: var(--mainText);
}

.widget-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.widget-info-column {
  display: flex;
  flex-direction: column;
}

#widget-label {
  color: var(--secondaryText);
}

.large-image {
  transform: scale(1.5); /* Increase the size by 1.5 times */
}

.small-image {
  width: 40px;
  height: 40px;
  padding: 0px 10px;
}

.button-box {
  width: 110px;
  position: relative;
  border-radius: 30px;
  background: var(--widgetColor);
}

.toggle-btn {
  padding: 0px 17px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 57px;
  height: 100%;
  background: #c8e5e7;
  border-radius: 30px;
  transition: 0.5s;
}
