h1,
h2,
h3,
h4,
p {
  font-family: "Roboto Mono", monospace;
}

:root {
  --backgroundColor: black;
  --boxColor: #1e1f24;
  --widgetColor: #2e2e38;

  --secondaryColor: #c8e5e7;

  --mainText: white;
  --secondaryText: #4b5156;
}

body.light-theme {
  --backgroundColor: #d6d7da;
  --boxColor: #f6f6f8;
  --widgetColor: white;

  --secondaryColor: #c1c1c1;

  --mainText: black;
  --secondaryText: gray;
}

body.dark-theme {
  --backgroundColor: black;
  --boxColor: #1e1f24;
  --widgetColor: #2e2e38;

  --secondaryColor: #c8e5e7;

  --mainText: white;
  --secondaryText: gray;
}

body {
  background-color: var(--backgroundColor);
}

.main-container {
  background-color: var(--boxColor);
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--widgetColor);
  border-radius: 50px;
  overflow: hidden;
  margin: 100px 100px 200px 200px;
}

.left-column {
  flex-basis: 25%;
  background-color: var(--widgetColor);
  display: flex;
  justify-content: center; /* Center horizontally */
}

.image-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.main-text-container {
  color: var(--mainText);
}

.right-column {
  flex: 75%;
  background-color: var(--boxColor);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.heading-container {
  width: 100%;
  color: var(--mainText);
  padding-left: 80px;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 30px;
}

.info-widget {
  background-color: var(--widgetColor);
  text-align: left;
  border-radius: 20px;
  height: 200px;
  width: 250px;
  padding: 5px 25px;
  color: var(--secondaryColor);
}

.widget-info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.widget-info-column {
  display: flex;
  flex-direction: column;
}

.large-image {
  transform: scale(1.5); /* Increase the size by 1.5 times */
}

.small-image {
  width: 40px;
  height: 40px;
  padding: 0px 10px;
}

.button-box {
  width: 110px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background: var(--widgetColor);
}

.toggle-btn {
  padding: 0px 17px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  text-align: center;
}

#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 57px;
  height: 100%;
  background: var(--secondaryColor);
  border-radius: 30px;
  transition: 0.5s;
}
